.nav-bar {
  background-color: lightgray;
  position: fixed;
  left: 0;
  padding: 10px 30px;
  height: 100vh;
  width: 50px;
}

.nav-bar i {
  margin: 20px 0px;
  color: rgba(0, 0, 0, 0.8);
}

.nav-bar__icons:first-child {
  margin-top: 30px;
}

.nav-bar__icons:last-child {
  margin-bottom: 30px;
}
